{{> navbar}}            

<h2 class="display-6 text-center">Forgot Password</h2>
<div class="container">

            {{#if succs}}
                <div class="alert alert-info">{{succs}}</div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}

        <form method="POST" action="/forgotpassword">

         <div class="form-floating mb-3">

            <div class="form-floating mb-3">
                <input type="text" name="email" class="form-control" id="floatingInput" placeholder="Email">
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Submit" class="btn btn-success">
            </div>

        </form>
</div>