{{!-- views --}}

<h2 class="display-6 text-center">Reset Password</h2>
<div class="container">

            {{#if succs}}
                <div class="alert alert-info">{{succs}}</div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}

        <form method="POST" action="/resetpassword">

         <div class="form-floating mb-3">


            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingInput" placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                <label for="floatingInput">Password</label>
              </div>

              <input type="hidden" name="id" value="{{id}}">
              <input type="hidden" name="token" value="{{token}}">

            <div class="form-group mb-3">
                <input type="submit" value="Submit" class="btn btn-success">
            </div>

            {{#if succs}}
                <a href="/login">Go to Login</a>
            {{/if}}

        </form>
</div>